.noteInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 10px 15px;
    overflow-y: auto;
}

.noteInfo ::-webkit-scrollbar {
    width: 15px;
}
  
  /* Track */
.noteInfo ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #505050; 
    border-radius: 10px;
}
   
  /* Handle */
.noteInfo ::-webkit-scrollbar-thumb {
    background: #272727; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.noteInfo ::-webkit-scrollbar-thumb:hover {
    background: #242424; 
}

.noteMain{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.noteHeader{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
    border-bottom: 1px solid #979797;
}

.noteHeaderIcon{
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.noteHeaderIcon:hover{
    color: #FA6163;
}

.noteContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    overflow-y: auto;
}

.noteItem{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.noteItemDesc{
    height: 100%;
}

.noteItem input,
.noteItem textarea{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #505050;
    color: #FFFFFF;
    font-size: 1.2em;
}

.noteItem textarea{
    cursor: default;
    resize: none;
    height: 100%;
}

.noteButtons{
    width: 100%;
    display: flex;
    padding: 10px 15px;
    margin-top: auto;
}

.noteButtons .noteBtn{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.noteButtons button{
    width: 150px;
    padding: 10px 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    background-color: #FA6163;
    color: #b4b4b4;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.noteButtons button:hover{
    color: #FFFFFF;
}

.noteButtons .noteBtnCancel{
    margin-left: 20px;
    background-color: #202020;
}

.noteButtons .noteBtnCancel:hover{
    color: #FA6163;
}

.noteError{
    color: #FA6163;
    text-align: center;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noteError p{
    display: flex;
    align-items: center;
}