.profileInfo{
    color: #FFFFFF;
}

.profileTitle span{
    font-size: 1.3em;
}

.profileContent{
    display: flex;
    flex-direction: column;
}

.profileItem{
    margin: 1em 0;
    margin-right: 2em;
}

.profileItemDouble{
    display: flex;
}

.profileItem label{
    padding: 5px;
    margin-bottom: 15px;
}

.profileItem input{
    width: 250px;
    padding: 10px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color: #1a1a1a;
    border-radius: 5px;
}

.defaultInput input{
    width: 100%;
}

.passwordContainer{
    position: relative;
    margin-top: 5px;
    margin-right: 15px;
}

.iconPassword{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
    right: 5px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .profileItemDouble{
        width: 100%;
    }

    .profileItem{
        width: 100%;
        margin: 1em 0;
        margin-right: 2em !important;
    }
}