.profile{
    margin: 5%;
    display: flex;
}

.profileButtons{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.profileButtons button{
    text-align: left;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s all ease-in-out;
    margin: 5px 5px 5px 0px;
    font-size: 1em;
    cursor: pointer;
}

.profileButtons .active{
    background-color: #FA6163;
    color: #FFFFFF;
}

.profileButtons .btnDisabled{
    background-color: transparent;
    color: #FA6163;
}

.profileInfo{
    margin-left: 5%;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 700px) {
    .profile{
        flex-direction: column;
    }

    .profileInfo{
        margin-left: 0;
    }

    .profileButtons{
        width: 100%;
    }  
}