.profileInfo{
    color: #FFFFFF;
}

.profileTitle span{
    font-size: 1.3em;
}

.profileContent{
    display: flex;
    flex-direction: column;
}

.profileItem{
    margin: 1em 0;
    margin-right: 2em;
}

.profileItemDouble{
    display: flex;
}

.profileItem label{
    padding: 5px;
    margin-bottom: 15px;
}

.profileItem input{
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 15px;
}

@media screen and (max-width: 1080px) {
    .profileItemDouble{
        width: 100%;
    }

    .profileItem{
        width: 100%;
        margin: 1em 0;
        margin-right: 2em !important;
    }

    .profileItemDouble .profileItem:last-child{
        margin-right: 0 !important;
    }
}