@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    z-index: 99999;
    transition: all 0.3s ease;
}

.navbar > .navLogo{
    cursor: pointer;
    font-size: 21px;
    margin: 15px;
    color: #FA6163;
    font-family: 'Russo One', sans-serif;  
    text-decoration: none; 
}

.navbar > .navItems{
    display: flex;
    align-items: center;
}

.navbar > .navItems > .navlinkItem{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    position: relative;
    transition: .45s all ease-in-out;
    cursor: pointer;
}

.navbar > .navItems > .navlinkItem:hover{
    color: #FA6163;
}

.navbar > .navToggle {
    display: none;
}

.activeLink{
    color: #FA6163 !important;
    transition: 0.3s all ease-in-out;
}

.userProfile{
    font-size: 1.7em;
}

.navlinkProfile{
    position: relative;
    user-select: none;
}

.profile{
    position: absolute;
    right: 50px;
    top: 50px;
    width: fit-content;
    background-color: #1a1a1a;
    z-index: 9999;
}

.profileItem{
    border-top: 1px solid #242424;
    text-align: left;
}

.profileItem:first-child{
    border-top: none;
}

.profileItem .profileOption:hover{
    color: #FA6163;
}

.profileOption{
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.profileInfo{
    display: flex;
    color: #FFFFFF;
    white-space: nowrap;
    text-transform: capitalize;
}

.profileLink{
    width: 100%;
    padding: 10px 30px 10px 15px;
    font-size: 0.96em;
    transition: 0.3s all ease-in-out;
    color: #FFFFFF;
}

.fadeIn{
    transition: all 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.fadeOut{
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 700px) {
    .navbar > .navItems{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: #1a1a1a;
        left: 0;
        width: 100%;
        height: max-content;
        transform: translateY(-100%);
        transition: all .45s;
        text-align: center;
    }

    .navbar > .navItems > .navlinkItem{
        margin: 35px;
    }

    .navbar > .navItems > .navlinkItem::before{
        background-color: transparent;
    }

    .navbar > .navItems.open{
        z-index: 99999;
        top: 60px;
        transform: translateY(0);
    }

    .navbar > .navToggle{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .navToggle > .bar{
        position: relative;
        width: 32px;
        height: 2px;
        background-color: #FFFFFF;
    }

    .navToggle > .bar::before, .navToggle > .bar::after{
        content: "";
        position: absolute;
        height: 2px;
        background-color: #FFFFFF;
        border-radius: 2px;
        transition: all .45s ease-in-out;
    }

    .navToggle > .bar::before{
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    .navToggle > .bar::after{
        width: 32px;
        transform: translateY(8px);
    }

    .navToggle.open > .bar{
        transform: translateX(-40px);
        background-color: transparent;
    }

    .navToggle.open > .bar::before{
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .navToggle.open > .bar::after{
        transform: rotate(-45deg) translate(26px, 26px);
    }
}